docs
test
src
.github
node_modules
coverage
.editorconfig
eslint.config.mjs
.mocharc.json
.prettierrc
jest.config.ts
tsconfig.browser.json
tsconfig.esm.json
tsconfig.json
tsconfig.test.json
typedoc.json
webpack.config.cjs
