@import '~@csstools/normalize.css';
@import '~@fontsource/roboto/300.css';
@import '~@fontsource/roboto/400.css';
@import '~@fontsource/roboto/700.css';
@import '~@fontsource/roboto-mono';

body {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
    margin: 0;
    padding: 0;
}

:root {
    --page-content-offset-top: 0px;
    --page-content-offset-left: 0px;
    --page-content-offset-right: 0px;
    --page-content-offset-bottom: 0px;
}
