@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #ff073a;
    --color-primary-content: #fff;
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: #ff073a;
    --color-primary-content: #fff;
}

@theme {
    --font-sans: 'Roboto';
    --font-mono: 'Roboto Mono';
}

html {
    font-size: 20px;
}

html, :root {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
