@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #ff073a;
    --color-primary-content: #fff;
}

@plugin "daisyui/theme" {
    name: "dark";
    prefersdark: true;
    --color-primary: #ff073a;
    --color-primary-content: #fff;
    --color-neutral: #fff;
    --color-neutral-content: #000;
}

@theme {
    --font-sans: 'Roboto';
    --font-mono: 'Roboto Mono';
}

html {
    font-size: 20px;
}

html, :root {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.badge-npm {
    --badge-color: #CB3837;
    --badge-fg: #ffffff;
}

.badge-pack {
    --badge-color: #9aedfe; /* based on https://github.com/sharkdp/vivid/blob/master/themes/snazzy.yml#L121 */
    --badge-fg: #000000;
}

