{
	auto_https off
	admin off
	servers {
		protocols h1
	}
	log {
		output stdout
		format json
	}
}

:80 {
	encode zstd br gzip
	header {
		-Server
		-Set-Cookie
	}
	request_body {
		max_size 101MiB
	}
	log {
		no_hostname
		output stdout
		format json
	}

    @api-redirect path /api
    redir @api-redirect /api/ 307

	@api path /api/*
	handle @api {
        root * /var/www/html/admin-api/public
        uri strip_prefix /api
        try_files {path} /index.php
        php_server
	}

    @admin-redirect path /admin
    redir @admin-redirect /admin/ 307

    @admin path /admin/*
    handle @admin {
        root * /var/www/html/admin-pwa/dist
        uri strip_prefix /admin
        try_files {path} /index.html
        file_server
    }

	@frontend not path /api/* /admin/*
	handle @frontend {
		root * /var/www/html/pwa/dist
		try_files {path} /index.html
		@missingIndex not file /var/www/html/pwa/dist/index.html
		handle @missingIndex {
			redir /admin/getting-started 302
		}
		file_server
	}
}
