{
	auto_https off
	admin off
	servers {
		protocols h1
	}
	log {
		output stdout
		format json
	}
}

:80 {
	encode zstd br gzip
	header {
		-Server
		-Set-Cookie
	}
	request_body {
		max_size 101MiB
	}
	log {
		no_hostname
		output stdout
		format json
	}

	@api path /api*
	handle @api {
        root * /var/www/html/admin-api/public
        try_files {path} /index.php
        php_server
	}

    @admin path /admin*
    handle @admin {
        root * /var/www/html/admin-pwa/dist
        try_files {path} /index.html
        file_server
    }

	@frontend not path /api* /admin*
	handle @frontend {
		root * /var/www/app-web
		try_files {path} /index.html
		@missingIndex not file /var/www/app-web/index.html
		handle @missingIndex {
			redir /admin/getting-started 302
		}
		file_server
	}
}
