@import "@ember-nexus/app-plugin-template/global.css";
@import "tailwindcss";
@plugin "daisyui";


html {
    font-size: 20px;
}
html, :root {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

ember-nexus-template-page-index, :root, :host {
    --color-primary: red !important;
}
