@use "@material/typography/mdc-typography";
@use "@material/card";
@use "@material/icon-button/styles";
@use "@material/circular-progress/mdc-circular-progress";

@include card.core-styles;


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

.content {
  padding: 0.25rem 1rem 1rem 1rem;
}

.content > .row {
  margin-top: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
